<h2 class="subtitle">Nested FormArray: Add Form Fields Dynamically</h2>
<form [formGroup]="employeesForm" (ngSubmit)="onSubmit()">
    Employees:
    <button (click)="addEmployee()">Add New Employee</button>
    <div class="form__control" formArrayName="employees">
        <div *ngFor="let employee of employees.controls; let i=index">
            <div [formGroupName]="i">
                {{i}}
                <label for="fname">First Name:</label>
                <input type="text" id="fname" class="form__control" name="fname" formControlName="fname" />
                <label for="lname">Last Name:</label>
                <input type="text" id="lname" class="form__control" name="lname" formControlName="lname" />
                <button (click)="removeEmployees(i)">Remove Skill</button>
                
                <div formArrayName="skill">
                    <div *ngFor="let skill of skills(i).controls; let j=index">
                        <div [formGroupName]="j">
                            {{j}}
                            <label for="skill">Skill:</label>
                            <input type="text" id="skill" class="form__control" name="skill" formControlName="skill" />
                            <label for="exp">Experience:</label>
                            <input type="text" id="exp" class="form__control" name="exp" formControlName="exp" />
                            <button (click)="removeSkill(i, j)">Remove Skill</button>
                        </div>
                    </div>
                    <button (click)="addSkill(i)">Add New Skill</button>
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>