<h2 class="subtitle">Reactive Driven Form</h2>
<form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="form__control">
        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" name="firstName" formControlName="firstName" />
    </div>

    <div class="form__control">
        <label for="lastName">Last Name: </label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName" />
    </div>


    <div class="form__control">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" formControlName="email" />
    </div>


    <div class="form__control">
        Gender:
        <label for="male">Male</label>
        <input type="radio" id="male" name="gender" value="male" formControlName="gender" />
        <label for="female">Female</label>
        <input type="radio" id="female" name="gender" value="female" formControlName="gender" />
    </div>


    <div class="form__control">
        <label for="isMarried">Are You Married: </label>
        <input type="checkbox" name="isMarried" formControlName="isMarried" />
    </div>


    <div class="form__control">
        <label for="country">Country: </label>
        <select id="country" name="country" formControlName="country">
            <option value="0" [attr.selected]="'0'">Choose Your Country</option>
            <option [ngValue]="country.id" *ngFor="let country of countries"
                [attr.selected]="country.id == contact?.country">{{country.name}}</option>
        </select>
    </div>

    <address class="form__control" formGroupName="address">
        <label for="cityName">City: </label>
        <input type="text" id="cityName" name="cityName" formControlName="cityName" />
        <label for="streetName">Street: </label>
        <input type="text" id="streetName" name="streetName" formControlName="streetName" />
        <label for="pin">Postal: </label>
        <input type="text" id="pin" name="pin" formControlName="pin" />
    </address>

    <button (click)="setDefault()">Set Defualt</button>
    <button (click)="patchValues()">Change Few</button>
    <button type="submit">Submit</button>
</form>